*{
    margin: 0;
    padding: 0;
  }
  .main-footer{
    text-align: center;
   padding: 1rem 0;
   background-color: #15191f;  
  } 
  .p-footer{
      color:white;
      font-size: .9rem;
  }
  @media (max-width:998px){
    .p-footer{
    font-size: .6rem;
    padding: .4rem 0;
    }
  }